/vendor
composer.lock
composer.phar
node_modules/
vendor/
package-lock.json

.DS_Store
Thumbs.db
tests/.phpunit.cache
tests/.phpunit.result.cache
/tests/integration/tmp
.vagrant
.idea/*
.vscode
js/coverage-ts
